{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shop Single</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{ product.image.url }}" alt="">
                        </div>
                        <!-- <div class="single-prd-item">
{#							{% static '<img class="img-fluid" src="img/category/s-p1.jpg" alt="">' %}#}
						</div>
						<div class="single-prd-item">
{#							{% static '<img class="img-fluid" src="img/category/s-p1.jpg" alt="">' %}#}
						</div> -->
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ product.name }}</h3>
                        <h2>${{ product.price }}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> : {{ product.category.first.title }}
                            </a></li>
                            <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                        </ul>
                        <p>{{ product.descriptions }}</p>
                        <div class="product_count">
                            <label for="qty">{% if product.quantity %}In stock {% else %} Out of
                                Stock{% endif %}:</label>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
                            <h2>{{ product.quantity }}</h2>
                            <input type="text" name="qty" id="sst" size="2" maxlength="12"
                                   value="{{ 1 }}" title="Quantity:"
                                   class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
                            <a class="button primary-btn" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                       aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact"
                       aria-selected="false">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
                       aria-controls="review"
                       aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{ product.descriptions }}</p>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list">
                                <div class="review_item">
                                    {% for comment in comments %}
                                        {% if comment.product_id == product.id %}
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4>{{ comment.name }}</h4>
                                                </div>
                                            </div>
                                            <p>{{ comment.message }}</p>
                                            {% if comment.message %}
                                                <a class="reply_btn"
                                                   href="{% url 'replay-comment' product.id comment.id %}"
                                                   style="float: right">Reply</a>
                                                <div>ㅤㅤㅤㅤ</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Post a comment</h4>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Your Full name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" rows="1"
                                                      placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" value="{{ product.id }}" name="product">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>Overall</h5>
                                        <h4>4.0</h4>
                                        <h6>(03 Reviews)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>Based on 3 Reviews</h3>
                                        <ul class="list">
                                            <li><a href="#">5 Star <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">4 Star <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">3 Star <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">2 Star <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">1 Star <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    {% for replay in replay_comment %}
                                        <div class="media">
                                            <div class="media-body">
                                                <h4>{{ replay.comment.name }}</h4>
                                                {% for _ in replay.rate %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <p>{{ replay.message }}</p>
                                        <div>ㅤㅤㅤㅤ</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Reply to this comment</h4>
                                {% for i in com %}
                                    {% if i.id == rk %}
                                        <p>{{ product.name }} {{ i.message }}</p>
                                        <div>ㅤㅤㅤㅤ</div>
                                    {% endif %}
                                {% endfor %}
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control" name="message" type="text"
                                               placeholder="Enter Message">
                                    </div>
                                    <div class="form-group">
                                        <select name="rate">
                                            <option value="1">1⭐</option>
                                            <option value="2">2⭐</option>
                                            <option value="3">3⭐</option>
                                            <option value="4">4⭐</option>
                                            <option value="5">5⭐</option>
                                        </select>
                                    </div>
                                    <input type="hidden" value="{{ rk }}" name="comment">
                                    <div class="form-group text-center text-md-right mt-3">
                                        <button type="submit" class="button button--active button-review">Submit Now
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->

    <!--================ Start related Product area =================-->
    <section class="related-product-area section-margin--small mt-0">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Popular Item in the market</p>
                <h2>Top <span class="section-intro__style">Product</span></h2>
            </div>
            <div class="row mt-30">
                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            {% for product in products %}
                                <a href="#"><img src="{{ product.image.url }}" alt=""></a>
                                <div class="desc">
                                <a href="" class="title"></a>
                                <div class="price">${{ product.price }}</div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}